
services:
  edge-go:
    build:
      context: .
      dockerfile: Dockerfile.edge
    environment:
      - ORYX_SERVER=${ORYX_SERVER}
      - ORYX_SERVER2=${ORYX_SERVER2}
      - ORYX_SKIP_TLS_VERIFY=${ORYX_SKIP_TLS_VERIFY:-false}
      - PERYA_SERVER=${PERYA_SERVER}
      - PERYA_SKIP_TLS_VERIFY=${PERYA_SKIP_TLS_VERIFY:-false}
      - PRIME_STREAM_HOST=${PRIME_STREAM_HOST}
      - PRIME_STREAM_ORIGIN=${PRIME_STREAM_ORIGIN}
      - PRIME_STREAM_REFERER=${PRIME_STREAM_REFERER}
      - DISABLE_TLS_VERIFY=${DISABLE_TLS_VERIFY:-false}
      - UPSTREAM_TIMEOUT=${UPSTREAM_TIMEOUT:-5s}
      - CACHE_SIZE=${CACHE_SIZE:-512}
      - CACHE_TTL_PLAYLIST=${CACHE_TTL_PLAYLIST:-2s}
      - CACHE_TTL_SEGMENT=${CACHE_TTL_SEGMENT:-30s}
      - PREFETCH_WORKERS=${PREFETCH_WORKERS:-4}
      - PREFETCH_BATCH=${PREFETCH_BATCH:-5}
      - ENABLE_PREFETCH=${ENABLE_PREFETCH:-true}
      - SV_ORIGIN=${SV_ORIGIN}
      - SV_HOST_HEADER=${SV_HOST_HEADER}
      - SV_ORIGIN10=${SV_ORIGIN10}
      - SV_HOST_HEADER10=${SV_HOST_HEADER10}
      - SV_ORIGIN9=${SV_ORIGIN9}
      - SV_HOST_HEADER9=${SV_HOST_HEADER9}
      - SV_ORIGIN8=${SV_ORIGIN8}
      - SV_HOST_HEADER8=${SV_HOST_HEADER8}
      - SV_ORIGIN7=${SV_ORIGIN7}
      - SV_HOST_HEADER7=${SV_HOST_HEADER7}
      - SV_ORIGIN6=${SV_ORIGIN6}
      - SV_HOST_HEADER6=${SV_HOST_HEADER6}
      - SV_ORIGIN5=${SV_ORIGIN5}
      - SV_HOST_HEADER5=${SV_HOST_HEADER5}
      - SV_ORIGIN4=${SV_ORIGIN4}
      - SV_HOST_HEADER4=${SV_HOST_HEADER4}
      - UK_ORIGIN=${UK_ORIGIN}
      - UK_HOST_HEADER=${UK_HOST_HEADER}
      - UK_REFERER=${UK_REFERER}
      - UK_SKIP_TLS_VERIFY=${UK_SKIP_TLS_VERIFY:-false}
      - SU_ORIGIN1=${SU_ORIGIN1}
      - SU_HOST_HEADER1=${SU_HOST_HEADER1}
      - SU_REFERER1=${SU_REFERER1}
      - SU_ORIGIN2=${SU_ORIGIN2}
      - SU_HOST_HEADER2=${SU_HOST_HEADER2}
      - SU_REFERER2=${SU_REFERER2}
      - SU_ORIGIN3=${SU_ORIGIN3}
      - SU_HOST_HEADER3=${SU_HOST_HEADER3}
      - SU_REFERER3=${SU_REFERER3}
      - SU_ORIGIN4=${SU_ORIGIN4}
      - SU_HOST_HEADER4=${SU_HOST_HEADER4}
      - SU_REFERER4=${SU_REFERER4}
      - SU_ORIGIN5=${SU_ORIGIN5}
      - SU_HOST_HEADER5=${SU_HOST_HEADER5}
      - SU_REFERER5=${SU_REFERER5}
      - SU_ORIGIN6=${SU_ORIGIN6}
      - SU_HOST_HEADER6=${SU_HOST_HEADER6}
      - SU_REFERER6=${SU_REFERER6}
      - SU_ORIGIN7=${SU_ORIGIN7}
      - SU_HOST_HEADER7=${SU_HOST_HEADER7}
      - SU_REFERER7=${SU_REFERER7}
      - SU_REFERER=${SU_REFERER}
      - SU_SKIP_TLS_VERIFY=${SU_SKIP_TLS_VERIFY:-false}
      - ACF_ORIGIN4=${ACF_ORIGIN4}
      - ACF_HOST_HEADER4=${ACF_HOST_HEADER4}
      - ACF_REFERER4=${ACF_REFERER4}
      - ACF_ORIGIN5=${ACF_ORIGIN5}
      - ACF_HOST_HEADER5=${ACF_HOST_HEADER5}
      - ACF_REFERER5=${ACF_REFERER5}
      - ACF_ORIGIN6=${ACF_ORIGIN6}
      - ACF_HOST_HEADER6=${ACF_HOST_HEADER6}
      - ACF_REFERER6=${ACF_REFERER6}
      - ACF_REFERER=${ACF_REFERER}
      - APL_ORIGIN=${APL_ORIGIN}
      - WCC_ORIGIN=${WCC_ORIGIN}
      - WCC_HOST_HEADER=${WCC_HOST_HEADER}
      - WCC_REFERER=${WCC_REFERER:-https://stream.wccgames7.xyz/}
      - WCC_SKIP_TLS_VERIFY=${WCC_SKIP_TLS_VERIFY:-true}
      - METRICS_RESET_DAILY=${METRICS_RESET_DAILY:-true}
      - METRICS_RESET_TIME=${METRICS_RESET_TIME:-00:00}
      - CERT_STORAGE_DIR=${CERT_STORAGE_DIR:-/app/keys}
      - CERT_UPLOAD_ENABLED=${CERT_UPLOAD_ENABLED:-true}
      - CERT_UPLOAD_USER=${CERT_UPLOAD_USER}
      - CERT_UPLOAD_PASSWORD=${CERT_UPLOAD_PASSWORD}
    volumes:
      - ./keys:/app/keys
    ports:
      - "9000:9000"  # Expose metrics endpoint to host
    expose:
      - "9000"
    restart: unless-stopped

  edge-proxy:
    build: .
    container_name: nginx-live
    depends_on:
      - edge-go
    environment:
      - SSL_ENABLE=${SSL_ENABLE:-true}
      - NGINX_SERVER_DEFAULT=${NGINX_SERVER_DEFAULT:-_}
      - NGINX_SERVER_APL=${NGINX_SERVER_APL:-apl.example.com}
      - AUTO_RELOAD_SSL=${AUTO_RELOAD_SSL:-true}
      - GENERATE_DHPARAM=${GENERATE_DHPARAM:-true}
      - DHPARAM_BITS=${DHPARAM_BITS:-2048}
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./keys:/etc/nginx/keys
    restart: unless-stopped
